body {
    text-align: center;
}

button {
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 4px;
    padding: 5px;
    background-color: forestgreen;
    color: white;
    border: none;
}

button:active {
    transform: translateY(2px);
}

h1#number {
    margin: auto;
    margin-top:30px;
    font-size:40px;
    letter-spacing: 4px;
    display: block;
    height:fit-content;
    width: fit-content;
    background-color: black;
    color: white;
    padding: 5px 10px;

}

img.img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width:100vw;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    z-index: -1;

}